<h1>Case A: Bit Counter</h1>

<p>To count the bits please do the following:</p>

<ol>
  <li>Run the command line Ruby interpreter:</li>
  <pre>
rails c
  </pre>

  <li>Create the service:</li>
  <pre>
myserv = BitCounterService.new
  </pre>

  <li>Run the calculations:</li>
  <pre>
myserv.count_bits '/path/to/the/picture/file/picture.jpg'
  </pre>

</ol>
